USE [master]
GO
/****** Object:  Database [ColegioDB]    Script Date: 16/01/2026 11:56:58 ******/
CREATE DATABASE [ColegioDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ColegioDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ColegioDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ColegioDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ColegioDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ColegioDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ColegioDB]
GO
/****** Object:  Table [dbo].[Alumnos]    Script Date: 16/01/2026 11:56:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Alumnos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Apellido] [nvarchar](100) NOT NULL,
	[Grado] [nvarchar](50) NOT NULL,
	[Edad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Alumnos] ON 

INSERT [dbo].[Alumnos] ([Id], [Nombre], [Apellido], [Grado], [Edad]) VALUES (20, N'anton', N'regifo', N'5to', 18)
INSERT [dbo].[Alumnos] ([Id], [Nombre], [Apellido], [Grado], [Edad]) VALUES (22, N'jose', N'carmelo', N'2do', 13)
INSERT [dbo].[Alumnos] ([Id], [Nombre], [Apellido], [Grado], [Edad]) VALUES (23, N'ana', N'condor', N'2do', 10)
SET IDENTITY_INSERT [dbo].[Alumnos] OFF
GO
USE [master]
GO
