/* You can add global styles to this file, and also import other style files */
body {
  background-color: #f4f7f6; // Fondo gris muy claro profesional
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
  border: none;
  border-radius: 12px; // Bordes redondeados modernos
  transition: transform 0.3s ease;
  
  &:hover {
    transform: translateY(-5px); // Efecto de elevación al pasar el mouse
  }
}